<h1>{{title}}</h1>

<button (click)=showData()>CLICK ME</button>

<a [href]="hrefValue">Google</a>
<br>
<br>

<a [attr.updatedlink]="updatelink">Google</a>

<p class="text-success">{{title}}</p>

<p [style.color]="'orange'">{{title}}</p>

<input type="text" [(ngModel)]="name">

<h2>{{name}}</h2>

<div class="abc ">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Error iste dolorum nulla debitis! Voluptate eos aut dolorum pariatur sit at vel architecto, hic, dolorem natus aspernatur modi saepe eius deleniti quos accusamus ipsa. Cupiditate ipsa vero ipsum praesentium autem modi ex nihil consectetur, nisi officia magni harum unde doloribus nostrum, nulla ratione eveniet. Minima, magni libero! Asperiores quam odit enim assumenda labore, adipisci iure soluta? Ad, dolore sed veritatis quasi quos odit iusto esse sit neque saepe fugit obcaecati fugiat delectus cumque laudantium! Aliquam incidunt numquam non animi quos quaerat eum? Inventore quam possimus beatae quidem sit minima qui tenetur nulla iure consequuntur pariatur perferendis libero, in maiores odio, numquam temporibus excepturi ex rem suscipit! Corporis accusamus quod ex animi quisquam ad sint.</p>

    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Error iste dolorum nulla debitis! Voluptate eos aut dolorum pariatur sit at vel architecto, hic, dolorem natus aspernatur modi saepe eius deleniti quos accusamus ipsa. Cupiditate ipsa vero ipsum praesentium autem modi ex nihil consectetur, nisi officia magni harum unde doloribus nostrum, nulla ratione eveniet. Minima, magni libero! Asperiores quam odit enim assumenda labore, adipisci iure soluta? Ad, dolore sed veritatis quasi quos odit iusto esse sit neque saepe fugit obcaecati fugiat delectus cumque laudantium! Aliquam incidunt numquam non animi quos quaerat eum? Inventore quam possimus beatae quidem sit minima qui tenetur nulla iure consequuntur pariatur perferendis libero, in maiores odio, numquam temporibus excepturi ex rem suscipit! Corporis accusamus quod ex animi quisquam ad sint.</p>

    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Error iste dolorum nulla debitis! Voluptate eos aut dolorum pariatur sit at vel architecto, hic, dolorem natus aspernatur modi saepe eius deleniti quos accusamus ipsa. Cupiditate ipsa vero ipsum praesentium autem modi ex nihil consectetur, nisi officia magni harum unde doloribus nostrum, nulla ratione eveniet. Minima, magni libero! Asperiores quam odit enim assumenda labore, adipisci iure soluta? Ad, dolore sed veritatis quasi quos odit iusto esse sit neque saepe fugit obcaecati fugiat delectus cumque laudantium! Aliquam incidunt numquam non animi quos quaerat eum? Inventore quam possimus beatae quidem sit minima qui tenetur nulla iure consequuntur pariatur perferendis libero, in maiores odio, numquam temporibus excepturi ex rem suscipit! Corporis accusamus quod ex animi quisquam ad sint.</p>

</div>

